// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

@import 'maps/chiller-theme';
@import 'maps/keyframe';
@import 'maps/page-content';
@import 'maps/page-wrapper';
@import 'maps/scroll-bar';
@import 'maps/show-button';
@import 'maps/side-footer';
@import 'maps/sidebar-content';
@import 'maps/header';
@import 'maps/sidebar-menu';
@import 'maps/variable';
@import 'maps/rightbar-menu';
