@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Rajdhani:400,600,700);@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);@charset "UTF-8";

/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
  background: #ffffff;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand > a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer > a {
  color: #818896;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
  color: #382e73;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
  color: #976d8d;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
  color: #16c7ff;
  text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background: #382e73;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #6c7b88;
}

.chiller-theme .sidebar-footer {
  background: #3a3f48;
  box-shadow: 0px -1px 5px #282c33;
  border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer > a:first-child {
  border-left: none;
}

@-webkit-keyframes swing {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(5deg);
  }

  70% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(5deg);
  }

  70% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  transition: all 0.3s ease;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
}

.page-wrapper .page-content > div {
  padding: 0;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

.page-content {
  width: 100%;
  height: 100%;
}

#map {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#mouse-position {
  bottom: 0.5em;
  right: 8px;
  position: absolute;
}

.map:-webkit-full-screen {
  height: 100%;
  margin: 0;
}

.map:-ms-fullscreen {
  height: 100%;
}

.map:-moz-full-screen {
  height: 100%;
}

.map:fullscreen {
  height: 100%;
}

/* position the rotate control lower than usual */

.ol-rotate {
  top: 3em;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #ffffff;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #22195b;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22195b;
}

::-webkit-scrollbar-thumb:active {
  background: #22195b;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*----------------show sidebar button----------------*/

.page-wrapper.toggled .sidebar-wrapper,
.nav-menu {
  left: 0px;
}

@media screen and (min-width: 720px) {
  .page-wrapper.toggled .page-content,
  .showed {
    padding-left: 260px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  text-align: center;
  padding: 3px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -20px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
}

.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}

.ol-tooltip-static {
  background-color: #5f53a9;
  color: black;
  border: 1px solid white;
}

.ol-tooltip-measure:before,
.ol-tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: '';
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

.ol-tooltip-static:before {
  border-top-color: #ffcc33;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-animation: sonar 1.5s infinite;
          animation: sonar 1.5s infinite;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------header----------------------*/

.header {
  z-index: 99;
}

.header_area {
  height: 100px;
  background-color: #22195b;
}

.topnav {
  background-color: #fff;
  height: 40px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 13px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav li a {
  float: left;
  display: inline-flex;
  color: black;
  padding: 7px;
  text-decoration: none;
}

.topnav a.active {
  background-color: #382e73;
  color: white;
}

.topnav .drop {
  float: right;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

.nav-menu button {
  width: 30px;
  height: 30px;
}

.user-avatar {
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 20px;
  padding-top: 5px;
  overflow: hidden;
}

.user-avatar img {
  float: right;
  width: 100%;
  height: 100%;
}

.drop {
  position: relative;
  font-size: 1em;
  cursor: pointer;
}

.drop a {
  font-weight: 400;
  line-height: 2.5em;
  padding: 0 1em;
  color: #4d4c4c;
  text-decoration: none;
}

.dropdownContain {
  float: left;
  position: absolute;
  z-index: 99;
  right: 25px;
  top: -300px;
}

.dropOut {
  width: 13em;
  background: #f6f6f6;
  float: left;
  position: relative;
  margin-top: 0;
  opacity: 0;
  border-radius: 1em;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.75);
  overflow: hidden;
  transition: all 0.1s ease-out;
}

.dropOut ul li {
  padding: 0.5em 0;
  margin: 0;
  text-decoration: none;
}

.dropOut li {
  text-align: left;
  width: 100%;
  padding: 0.6em 0;
  color: #807f7f;
  border-left: 3px solid #f7f7f7;
  transition: all 0.1s ease-out;
}

.dropOut li span {
  color: #cccccc;
  margin: 0 1.5em 0 0.8em;
}

.dropOut li:hover {
  border-color: #312483;
  color: #4d4c4c;
  background: #ededed;
}

.dropOut li:hover span {
  color: #807f7f;
}

li:hover .dropdownContain {
  top: 35px;
}

li:hover .dropOut {
  opacity: 1;
  margin-top: 20px;
}

.option-menu #type {
  padding: 7px;
  background-color: #dddddd;
  border: none;
}

/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 100px;
  left: -300px;
  z-index: 2;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

.sidebar-wrapper .sidebar-brand {
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}

.sidebar-wrapper .sidebar-search > div {
  padding: 10px 15px;
}

.sidebar-search input[type='text'] {
  padding: 5px 0;
  margin-top: 8px;
  border: none;
}

.sidebar-search .search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.sidebar-search.search-container button:hover {
  background: #ccc;
}

.sidebar-search.search-container button i {
  font-size: 14px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  -webkit-animation: swing ease-in-out 0.5s 1 alternate;
          animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\F105';
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-bottom: 5px;
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: '\F111';
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

html,
body {
  font-size: 0.9rem;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
}

.btn {
  border: none;
}

.btn:focus {
  outline-color: none;
  box-shadow: none;
}

.btn:hover {
  background: #382e73;
  color: #fff;
  outline-color: none;
}

.active {
  background: #22195b;
  text-decoration: none;
  color: #fff;
}

.btn-save {
  background-color: #382e73;
  border-radius: 2px;
  color: #fff;
  padding: 7px;
}

form div {
  margin: 10px 0;
}

label.checkbox {
  color: #818896;
  font-size: 13px;
  padding: 5px 10px;
}

/* The Modal (background) */

.export-modal {
  display: none;
  position: absolute;
  z-index: 99;
  padding: 200px;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.option-menu {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #818896;
}

/* Hide the browser's default radio button */

.option-menu input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */

.option-menu:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.option-menu input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.option-menu input:checked ~ .checkmark:after {
  display: block;
}

fieldset {
  border: none;
}

input.value {
  margin: 5px 0;
  padding: 5px;
  width: 90%;
}

.ol-popup {
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 2px;
  border: 1px solid #cccccc;
  width: 260px;
  height: 500px;
  position: fixed;
  top: 160px;
  right: 5px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: '\2716';
}

