/*--------------------header----------------------*/
.header {
  z-index: 99;
}
.header_area {
  height: 100px;
  background-color: #22195b;
}

.topnav {
  background-color: #fff;
  height: 40px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 13px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav li a {
  float: left;
  display: inline-flex;
  color: black;
  padding: 7px;
  text-decoration: none;
}

.topnav a.active {
  background-color: #382e73;
  color: white;
}

.topnav .drop {
  float: right;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}
.nav-menu button {
  width: 30px;
  height: 30px;
}

.user-avatar {
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 20px;
  padding-top: 5px;
  overflow: hidden;
}

.user-avatar img {
  float: right;
  width: 100%;
  height: 100%;
}

.drop {
  position: relative;
  font-size: 1em;
  cursor: pointer;

  a {
    font-weight: 400;
    line-height: 2.5em;
    padding: 0 1em;
    color: lighten(black, 30%);
    text-decoration: none;
  }
}

.dropdownContain {
  float: left;
  position: absolute;
  z-index: 99;
  right: 25px;
  top: -300px;
}
.dropOut {
  width: 13em;
  background: #f6f6f6;
  float: left;
  position: relative;
  margin-top: 0;
  opacity: 0;
  border-radius: 1em;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(white, 0.75);
  overflow: hidden;

  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;

  ul li {
    padding: 0.5em 0;
    margin: 0;
    text-decoration: none;
  }
}

.dropOut li {
  text-align: left;
  width: 100%;
  padding: 0.6em 0;
  color: darken(#fff, 50%);
  border-left: 3px solid #f7f7f7;

  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  span {
    color: darken(#fff, 20%);
    margin: 0 1.5em 0 0.8em;
  }

  &:hover {
    border-color: lighten(#22195b, 10%);
    color: darken(#fff, 70%);
    background: darken(#f7f7f7, 4%);

    span {
      color: darken(#fff, 50%);
    }
  }
}

li:hover .dropdownContain {
  top: 35px;
}
li:hover .dropOut {
  opacity: 1;
  margin-top: 20px;
}

.option-menu #type {
  padding: 7px;
  background-color: rgb(221, 221, 221);
  border: none;
}
