/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
}

.page-wrapper .page-content > div {
  padding: 0;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

.page-content {
  width: 100%;
  height: 100%;
}

#map {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#mouse-position {
  bottom: 0.5em;
  right: 8px;
  position: absolute;
}
.map:-webkit-full-screen {
  height: 100%;
  margin: 0;
}
.map:-ms-fullscreen {
  height: 100%;
}
.map:fullscreen {
  height: 100%;
}
/* position the rotate control lower than usual */
.ol-rotate {
  top: 3em;
}
