html,
body {
  font-size: 0.9rem;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
}

.btn {
  border: none;
}

.btn:focus {
  outline-color: none;
  box-shadow: none;
}
.btn:hover {
  background: #382e73;
  color: #fff;
  outline-color: none;
}
.active {
  background: #22195b;
  text-decoration: none;
  color: #fff;
}

.btn-save {
  background-color: #382e73;
  border-radius: 2px;
  color: #fff;
  padding: 7px;
}
form div {
  margin: 10px 0;
}

label.checkbox {
  color: #818896;
  font-size: 13px;
  padding: 5px 10px;
}

/* The Modal (background) */
.export-modal {
  display: none;
  position: absolute;
  z-index: 99;
  padding: 200px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.option-menu {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #818896;
}

/* Hide the browser's default radio button */
.option-menu input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.option-menu:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.option-menu input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.option-menu input:checked ~ .checkmark:after {
  display: block;
}

fieldset {
  border: none;
}

input.value {
  margin: 5px 0;
  padding: 5px;
  width: 90%;
}
